<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="Browser" value="Chrome"></parameter>
  <test thread-count="5" name="SpiceJetTest">
    <classes>
		
		<class name="testcomponents.SignUpTest"/>
      	<class name="testcomponents.LoginTest"/>
      	<class name="testcomponents.MenuValidationTest"/>
    	<class name="testcomponents.OneWayTest"/>
      	<class name="testcomponents.RoundTripTest"/>
      	
    </classes>
  </test> <!-- SpiceJetTest -->
</suite> <!-- Suite -->
